* {
  margin: 0px;
  padding: 0px;
}

@mixin bd-radious($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

.item-1 {
  background-color: #33a;
  height: 100px;
  width: 100px;
  @include bd-radious(12px);
}

.item-2 {
  background-color: #29af3b;
  height: 120px;
  width: 150px;
  @include bd-radious(20px);
}

.item-3 {
  background-color: #e2e618;
  height: 320px;
  width: 300px;
  @include bd-radious(32px);
}
