* {
  margin: 0px;
  padding: 0px;
}
$itemHeight: 200px;
$itemWidth: 200px;
$itemBorder: 1px solid #333;
$itemBackgroundcolor: #ff3;

.container {
  display: flex;
  border: 1px solid #333;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  height: 300px;
  align-items: center;
  gap: 12px;
  justify-content: center;
  .item-1 {
    height: $itemHeight;
    width: $itemWidth;
    border: $itemBorder;
    background-color: $itemBackgroundcolor;
  }
  .item-2 {
    height: $itemHeight;
    width: $itemWidth;
    border: $itemBorder;
    background-color: $itemBackgroundcolor;
  }
  .item-3 {
    height: $itemHeight;
    width: $itemWidth;
    border: $itemBorder;
    background-color: $itemBackgroundcolor;
  }
}
