$font-size: 12px;
$font-faimly: "Century Gothic Medium", "Arial Narrow", Arial, sans-serif;
$lettSpacing: 0.07em;
$font-weight: 600;

body {
  font: 100% $font-faimly;
  font-size: $font-size;
  font-family: $font-faimly;
  letter-spacing: $lettSpacing;
  font-weight: $font-weight;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container div {
  background-color: #34568b;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #0d316b;
  box-sizing: border-box;
  width: calc(1 / 2 * 100% - (1 - 1 / 2) * 30px);
}

.form-div {
  h2 {
    text-align: center;
    color: lightseagreen;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: underline;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    &:hover {
      background-color: rgb(243, 240, 240);
    }
  }
  legend {
    background-color: #4caf50;
    color: #fff;
    border-radius: 2px;
    padding: 3px 6px;
    border: 1px solid green;
  }
  fieldset {
    margin-bottom: 10px;
    border: 1px solid #5f7b80;
  }
  button {
    width: 98%;
    font-size: 14px;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    &:hover {
      background-color: #444;
    }
  }
}

.item-list {
  h2 {
    text-align: center;
    color: lightseagreen;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: underline;
  }
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 6px 12px;
        color: white;
        font-weight: 600;
      }
    }
  }
}

// Media Query
@media (max-width: 1024) {
  .container div {
    width: calc(1 * 100% - (1 - 1 / 2) * 30px);
    margin-right: -30px;
  }
}
@media (max-width: 640px) {
  .container div {
    width: calc(1 * 100% - (1 - 1 / 2) * 30px);
  }
  .container {
    margin-right: -30px;
  }
}
